In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://drive.google.com/file/d/1MuRO4It_U2whC2nF3QvoI-OJhyGQQEzM/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
deped2012 = pd.read_csv(path, encoding='latin1')

# the head function provides a preview of the first 5 rows of the data
deped2012.head()

,school_id,school_name,region,province,municipality,division,district,year_level,gender,enrollment
0,101746,"A. Diaz, Sr. ES",I (Ilocos Region),Pangasinan,Bautista,"Pangasinan II, Binalonan",Bautista,grade 1,male,53
1,102193,A. P. Santos ES (SPED Center),I (Ilocos Region),Ilocos Norte,Laoag City (Capital),Laoag City,Laoag City District II,grade 1,male,31
2,101283,A.P. Guevarra IS,I (Ilocos Region),Pangasinan,Bayambang,"Pangasinan I, Lingayen",Bayambang II,grade 1,male,16
3,100216,Ab-Abut ES,I (Ilocos Region),Ilocos Norte,Piddig,Ilocos Norte,Piddig,grade 1,male,19
4,100043,Abaca ES,I (Ilocos Region),Ilocos Norte,Bangui,Ilocos Norte,Bangui,grade 1,male,12

In [3]:
url = 'https://drive.google.com/file/d/1t7L0jC_2rXSPC6AiPNeezhDnO4ED0H9E/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
deped2015 = pd.read_csv(path, encoding='latin1')

deped2015.head()

,region,province,municipality,division,school_id,school_name,year_level,gender,enrollment,latitude,longitude
0,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100001,Apaleng-libtong ES,grade 1,male,9,18.253666,120.60618
1,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100002,Bacarra CES,grade 1,male,41,18.25096389,120.6089583
2,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100003,Buyon ES,grade 1,male,7,18.234599,120.616037
3,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100004,Ganagan Elementary School,grade 1,male,8,18.25001389,120.5871694
4,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100005,Macupit ES,grade 1,male,5,18.29399444,120.6410194

### Get the difference of enrollments in 2012 and 2015.

In [4]:
# pd.merge(pd.DataFrame(deped2012['region'].unique(), columns=['2012']),
#          pd.DataFrame(deped2015['region'].unique(), columns=['2015']),
#          left_on='2012', right_on='2015', how='outer')

pd.merge(deped2012.groupby('region').sum()['enrollment'],
         deped2015.groupby('region').sum()['enrollment'], 
         how='outer', left_index=True, right_index=True, suffixes=['_2012', '_2015'])

                                             enrollment_2012  enrollment_2015
region
ARMM (Autonomous Region in Muslim Mindanao)         625166.0              NaN
ARMM - Autonomous Region in Muslim Mindanao              NaN         131314.0
CAR (Cordillera Administrative Region)              215480.0              NaN
CARAGA - CARAGA                                          NaN         393040.0
I (Ilocos Region)                                   629230.0              NaN
II (Cagayan Valley)                                 434574.0              NaN
III (Central Luzon)                                1315107.0              NaN
IV-A (CALABARZON)                                  1605041.0              NaN
IV-B (MIMAROPA)                                     472905.0              NaN
IX (Zamboanga Peninsula)                            580413.0              NaN
NCR (National Capital Region)                      1246119.0              NaN
Region I - Ilocos Region                                 NaN         612984.0
Region II - Cagayan Valley                               NaN         435115.0
Region III - Central Luzon                               NaN        1259020.0
Region IV-A - CALABARZON                                 NaN        1568707.0
Region IV-B - MIMAROPA                                   NaN         442229.0
Region IX - Zamboanga Peninsula                          NaN         547674.0
Region V - Bicol Region                                  NaN         918017.0
Region VI - Western Visayas                              NaN        1025647.0
Region VII - Central Visayas                             NaN        1009273.0
Region VIII - Eastern Visayas                            NaN         656566.0
Region X - Northern Mindanao                             NaN         652688.0
Region XI - Davao Region                                 NaN         677463.0
Region XII - SOCCSKSARGEN                                NaN         613998.0
V (Bicol Region)                                    988787.0              NaN
VI (Western Visayas)                               1037886.0              NaN
VII (Central Visayas)                              1030357.0              NaN
VIII (Eastern Visayas)                              707367.0              NaN
X (Northern Mindanao)                               657672.0              NaN
XI (Davao Region)                                   683089.0              NaN
XII (SOCCSKSARGEN)                                  627717.0              NaN
XIII (Caraga)                                       402579.0              NaN

In [5]:
len(deped2012['region'].unique()), len(deped2015['region'].unique())

(17, 15)

### How to handle this?

We use an external library for string matching called <a href="https://pypi.org/project/fuzzywuzzy/">fuzzywuzzy</a>.

It is not automatically installed in Google Colaboratory though. To install it, run the code below.

In [6]:
! pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [7]:
from fuzzywuzzy import process

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

How does it work?

In [8]:
process.extractOne('Phillipiness', ['Philippines','Singapore','Philadelphia'])

('Philippines', 87)

In [9]:
process.extractOne('Japan', ['Philippines','Singapore','Philadelphia'])

('Philippines', 36)

### Let's try to reconcile the differences of the regions in Deped 2012 and 2015.

In [26]:
region_mapper = dict()

region_2012 = set(deped2012['region'].unique())
region_2015 = set(deped2015['region'].unique())

for region in region_2015:
  best_match, score = process.extractOne(region.replace('Region ','',), region_2012)
  # best_match, score = process.extractOne(region, region_2012)
  if score > 50:
    region_mapper[region] = best_match
  else:
    region_mapper[region] = region

# region_mapper['Region IV-A - CALABARZON'] = 'IV-A (CALABARZON)'

region_mapper

{'ARMM - Autonomous Region in Muslim Mindanao': 'ARMM (Autonomous Region in Muslim Mindanao)',
 'CARAGA - CARAGA': 'XIII (Caraga)',
 'Region I - Ilocos Region': 'I (Ilocos Region)',
 'Region II - Cagayan Valley': 'II (Cagayan Valley)',
 'Region III - Central Luzon': 'III (Central Luzon)',
 'Region IV-A - CALABARZON': 'IV-A (CALABARZON)',
 'Region IV-B - MIMAROPA': 'IV-B (MIMAROPA)',
 'Region IX - Zamboanga Peninsula': 'IX (Zamboanga Peninsula)',
 'Region V - Bicol Region': 'V (Bicol Region)',
 'Region VI - Western Visayas': 'VI (Western Visayas)',
 'Region VII - Central Visayas': 'VII (Central Visayas)',
 'Region VIII - Eastern Visayas': 'VIII (Eastern Visayas)',
 'Region X - Northern Mindanao': 'X (Northern Mindanao)',
 'Region XI - Davao Region': 'XI (Davao Region)',
 'Region XII - SOCCSKSARGEN': 'XII (SOCCSKSARGEN)'}

In [27]:
process.extract('ARMM - Autonomous Region in Muslim Mindanao', region_2012)

[('ARMM (Autonomous Region in Muslim Mindanao)', 99),
 ('I (Ilocos Region)', 86),
 ('NCR (National Capital Region)', 86),
 ('V (Bicol Region)', 86),
 ('XI (Davao Region)', 86)]

In [28]:
process.extract('Region I - Ilocos Region', region_2012)

[('CAR (Cordillera Administrative Region)', 86),
 ('ARMM (Autonomous Region in Muslim Mindanao)', 86),
 ('I (Ilocos Region)', 86),
 ('V (Bicol Region)', 86),
 ('XI (Davao Region)', 86)]

In [29]:
process.extract('Region IV-A - CALABARZON', region_2012)

[('IV-B (MIMAROPA)', 86),
 ('IV-A (CALABARZON)', 86),
 ('CAR (Cordillera Administrative Region)', 86),
 ('ARMM (Autonomous Region in Muslim Mindanao)', 86),
 ('I (Ilocos Region)', 86)]

In [30]:
process.extract('Region V - Bicol Region', region_2012)

[('CAR (Cordillera Administrative Region)', 86),
 ('ARMM (Autonomous Region in Muslim Mindanao)', 86),
 ('V (Bicol Region)', 86),
 ('I (Ilocos Region)', 67),
 ('NCR (National Capital Region)', 57)]

In [31]:
process.extract('Region XI - Davao Region', region_2012)

[('CAR (Cordillera Administrative Region)', 86),
 ('ARMM (Autonomous Region in Muslim Mindanao)', 86),
 ('I (Ilocos Region)', 86),
 ('V (Bicol Region)', 86),
 ('XI (Davao Region)', 86)]

In [32]:
deped2015_mod = deped2015.copy()
deped2015_mod['region'] = deped2015_mod['region'].map(region_mapper)
deped2015_mod

,region,province,municipality,division,school_id,school_name,year_level,gender,enrollment,latitude,longitude
0,I (Ilocos Region),Ilocos Norte,Bacarra,Ilocos Norte,100001,Apaleng-libtong ES,grade 1,male,9,18.253666,120.60618
1,I (Ilocos Region),Ilocos Norte,Bacarra,Ilocos Norte,100002,Bacarra CES,grade 1,male,41,18.25096389,120.6089583
2,I (Ilocos Region),Ilocos Norte,Bacarra,Ilocos Norte,100003,Buyon ES,grade 1,male,7,18.234599,120.616037
3,I (Ilocos Region),Ilocos Norte,Bacarra,Ilocos Norte,100004,Ganagan Elementary School,grade 1,male,8,18.25001389,120.5871694
4,I (Ilocos Region),Ilocos Norte,Bacarra,Ilocos Norte,100005,Macupit ES,grade 1,male,5,18.29399444,120.6410194
...,...,...,...,...,...,...,...,...,...,...,...
396283,ARMM (Autonomous Region in Muslim Mindanao),Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,133553,Tambo PS,grade 6,female,0,-,-
396284,ARMM (Autonomous Region in Muslim Mindanao),Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,133554,Tuka PS,grade 6,female,0,-,-
396285,ARMM (Autonomous Region in Muslim Mindanao),Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,133555,Tulain PS,grade 6,female,0,-,-
396286,ARMM (Autonomous Region in Muslim Mindanao),Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,133556,Ulodan ES,grade 6,female,52,-,-
396287,ARMM (Autonomous Region in Muslim Mindanao),Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,133557,Awani Elementary School,grade 6,female,40,-,-

In [33]:
df_merged = pd.merge(deped2012.groupby('region').sum()['enrollment'],
                     deped2015_mod.groupby('region').sum()['enrollment'], 
                     how='outer', left_index=True, right_index=True, suffixes=['_2012', '_2015'])

df_merged

                                             enrollment_2012  enrollment_2015
region
ARMM (Autonomous Region in Muslim Mindanao)           625166         131314.0
CAR (Cordillera Administrative Region)                215480              NaN
I (Ilocos Region)                                     629230         612984.0
II (Cagayan Valley)                                   434574         435115.0
III (Central Luzon)                                  1315107        1259020.0
IV-A (CALABARZON)                                    1605041        1568707.0
IV-B (MIMAROPA)                                       472905         442229.0
IX (Zamboanga Peninsula)                              580413         547674.0
NCR (National Capital Region)                        1246119              NaN
V (Bicol Region)                                      988787         918017.0
VI (Western Visayas)                                 1037886        1025647.0
VII (Central Visayas)                                1030357        1009273.0
VIII (Eastern Visayas)                                707367         656566.0
X (Northern Mindanao)                                 657672         652688.0
XI (Davao Region)                                     683089         677463.0
XII (SOCCSKSARGEN)                                    627717         613998.0
XIII (Caraga)                                         402579         393040.0

In [34]:
df_merged.shape

(17, 2)